@media print{
  *{
    font-family: 'Ibarra Real Nova', serif;
  }
}

#wrapper {
  display: flex;
}

*{
  font-family: 'Montserrat', 'Tahoma', sans-serif;
}

header{
  background-color: cornflowerblue;
  border: 2px solid black;
  padding: 3px;
  margin-bottom: 10px;
  border-radius: 10px;
}

#hireFire{
  text-align: center;
}

#hire{
  text-align: left;
}

#fire{
  text-align: right;
}

#searchBar{
  text-align: center;
}

footer{
  background-color: cornflowerblue;
  border: 2px solid black;
  padding: 3px;
  margin-bottom: 5px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  border-radius: 10px;
}

#p1{
  border-radius: 10px;
  background-color: dodgerblue;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
  flex: auto;
}

#p10{
  flex: ;
}

#p11{
  display: inline;
}

#p2{
  border-radius: 10px;
  background-color: dodgerblue;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
  flex: auto;
}

#p3{
  border-radius: 10px;
  background-color: dodgerblue;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
  flex: auto;
}

#p4{
  border-radius: 10px;
  background-color: dodgerblue;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
  flex: auto;
}

#p5{
  border-radius: 10px;
  background-color: dodgerblue;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
  flex: auto;
}

img{
  max-width: 50%;
  height: auto;
}